<div class="contact-container">
    <header class="header">
        Contact
    </header>
    <div class="contact-details">
        <div>
            <div class="det">
                <fa-icon [icon]="['fas', 'map-marked-alt']" class="icon" size="2x"></fa-icon>
                Pune
            </div>
    
            <div class="det">
                <fa-icon [icon]="['fas', 'phone-alt']" class="icon" size="2x"></fa-icon>
                (+91) 9860.000.043
            </div>
    
            <div class="det">
                <fa-icon [icon]="['fas', 'envelope']" class="icon" size="2x"></fa-icon>
                sagar.ag05@gmail.com
            </div>
        </div>
        <div class="contact-form">
            <div class="form-det1">
                <input class="txt" type="text" placeholder="Enter your name" />
                <input class="txt" type="text" placeholder="Email ID" />
                <button class="btn">Send Email</button>
            </div>
            <div class="form-det2">
                <textarea class="msg" placeholder="Wassup, how can I help you ?"></textarea>
            </div>
            
        </div>

    </div>
</div>