<header class="header">
    About Me
</header>
<div class="about-details">
    <div class="desc">
        Expert in various UI technologies and paradigms.
        From Javascript, Jquery to AngularJs and Angular, I've developed applications using 
        various technologies with high quality in time crunch releases.
        Currently a UI lead, I've been working on enterprise products since last 
        10 years.        
    </div>
    <div class="info">
        <div class="info-item">
            <span class="label">City</span>
            <span>Pune</span>
        </div>
        <div class="info-item">
            <span class="label">Email</span>
            <span>sagar.ag05@gmail.com</span>
        </div>
        <div class="info-item">
            <span class="label">Mobile</span>
            <span>(+91) 9860.000.043</span>
        </div>
    </div>
</div>