<div class="blog-container">
    <div class="blog" (click)="openBlog('blog-1')">
        <div class="blog-item blog-img1">
        </div>
        <div class="desc">
            <div class="label">Everything between var, let and const</div>
            <div class="dateTime">04 Sep, 2020</div>
        </div>
    </div>

    <div class="blog" (click)="openBlog('blog-1')">
        <div class="blog-item blog-img2">
        </div>
        <div class="desc">
            <div class="label">Everything between var, let and const</div>
            <div class="dateTime">22 Sep, 2020</div>
        </div>
    </div>

    <!--<div class="blog" (click)="openBlog('blog-1')">
        <div class="blog-item blog-img3">
        </div>
        <div class="desc">
            <div class="label">Everything between var, let and const</div>
            <div class="dateTime">26 Sep, 2020</div>
        </div>
    </div>-->
</div>