<div class="menu-main">
        <!-- backgroouond color copied is: #f2f7f9-->
      
        <!-- Home and about me combined -->
        <div class="menu-item" routerLink="/home">
          <div>
              <fa-icon [icon]="['fas', 'home']" style="color:#2a9ade;" size="2x"></fa-icon>
          </div>
          <div>
            Home
          </div>
        </div>
        
        <!-- Resume -->
        <div class="menu-item" routerLink="/resume">
            <div>
                <fa-icon [icon]="['fas', 'graduation-cap']" style="color:#2a9ade;" size="2x"></fa-icon>
            </div>
            <div>
                Resume
            </div>
        </div>
        
        <!-- Portfolio -->
        <div class="menu-item" routerLink="/portfolio">
            <div>
                <fa-icon [icon]="['fas', 'suitcase']" style="color:#2a9ade;" size="2x"></fa-icon>
            </div>
            <div>
                Portfolio
            </div>
        </div>
        
        <!-- Blogs -->
        <div class="menu-item" routerLink="/blogs">
            <div>
                <fa-icon [icon]="['fas', 'newspaper']" style="color:#2a9ade;" size="2x"></fa-icon>
            </div>
            <div>
                Blogs
            </div>
        </div>
        
        <!-- contact me -->
        <div class="menu-item" routerLink="/contact">
            <div>
                <fa-icon [icon]="['fas', 'address-card']"  style="color:#2a9ade;" size="2x"></fa-icon>
            </div>
            <div>
                Contact
            </div>
        </div>
      </div>