<div id="resume">
    <div id="professional-summary">
        <h3 class="heading">
            Professional Summary
        </h3>
        <ul class="proj-desc">
            <li>
                Highly motivated individual with over 12 years of experience working on multiple technologies.
            </li>
            <li>
                Great exposure working on both cloud and on-prem enterprise products (debugging critical cloud issues thru kibana logs).
            </li>
            <li>
                Great team player with excellent problem solving & communication skills.
            </li>
            <li>
                Willingness to learn new technologies with an ability to deliver efficient and maintainable code in rapid agile environment.
            </li>
            <li>
                Experience of the entire SDLC lifecycle and worked in different capacity (as an IC and Lead).
            </li>
        </ul>
    </div>
    <div id="skill-sets">
        <h3 class="heading">
            Skill sets
        </h3>
        <div class="skillsets">
            <span class="tile">D3.js</span>
            <span class="tile">Angular</span>
            <span class="tile">AngularJS</span>
            <span class="tile">Bower</span>
            <span class="tile">Gulp</span>
            <span class="tile">Javascript</span>
            <span class="tile">Karma</span>
            <span class="tile">HTML</span>
            <span class="tile">CSS</span>
            <span class="tile">Typescript</span>
            <span class="tile">Jasmine</span>
            <span class="tile">Jquery</span>
            <span class="tile">Git</span>
            <span class="tile">Maven</span>
            <span class="tile">Tomcat</span>
            <span class="tile">Java</span>
            <span class="tile">Spring</span>
        </div>
    </div>
    <div>
        <h3 class="heading">
            Employment History & Projects
        </h3>
        <section>
            <header class="designation">
                <fa-icon [icon]="['far', 'building']" style="color:#252c30;" size="1x"></fa-icon>
                Symantec Corporation - Sr. Princ Software Engineer.
                <span style="font-size: 12px;">(Jul 2011 – Present)</span>
            </header>
            <div>
                <ol>
                    <li class="projects">
                        <span>Integrated Cyber Defense Manager (ICDm)</span>
                        <div>
                            <ul class="proj-desc">
                                <li>                                    
                                    Implemented micro-frontends to get various apps under one product at runtime while maintaining different code repos.
                                </li>
                                <li>
                                    Developing REST api & micro-services to integrate with UI. Added Integration & Unit testing for UI and REST APIs.
                                </li>
                                <li>
                                    Built in-house UI controls (ux-toolkit) that is consumed by various teams across Symantec.
                                </li>
                                <li>
                                    Debugging critical cloud production and memory leaks issues of the portal along with performance issues.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="projects">
                        <span>Operations Director and Unified Management Console</span>
                        <div>
                            <ul class="proj-desc">
                                <li>
                                    Implemented various UI functionality based on the mock-up including API integration, jasmine test cases etc.
                                </li>
                                <li>
                                    Implemented various reusable UI components in AngularJS, Javascript, HTML, CSS. Also integrated Kendo (Telerik) UI controls in the portal.
                                </li>
                                <li>
                                    Involved in requirement analysis, sprint planning, sprint demos etc. Also groomed junior developers in the team in resolving their queries.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="projects">
                        <span>Symantec Protection Center</span>
                        <div>
                            <ul class="proj-desc">
                                <li>
                                    Implementation of co-existence of ASP.Net MVC with webforms to take the web portal to the next level from legacy framework.
                                </li>
                                <li>
                                    Integration of JQuery in the portal and implemented dashboard framework to support scrollable dashboard, custom dashboards/widgets to allow customers to query any dataset.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="projects">
                        <span>Symantec Control Compliance Suite (CCS)</span>
                        <div>
                            <ul class="proj-desc">
                                <li>
                                    Implemented complex UI flows catering to creation of Security Objective having various technical checks that will allow admins to mitigate risks by creating & using action plan.
                                </li>
                                <li>
                                    Integration with external ticketing system like Remedy (BMC) to assign action plans.
                                </li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section>
            <header class="designation">
                <fa-icon [icon]="['far', 'building']" style="color:#252c30;" size="1x"></fa-icon>
                Synechron - Software Associate
                <span style="font-size: 12px;">(Jul 2010 – Jul 2011)</span>
            </header>
            <div>
                <ol>
                    <li class="projects">
                        <span>CS Stars - Claims Admin</span>
                        <div>
                            <ul class="proj-desc">
                                <li>
                                    Implemented custom session handler in ASP.Net using Microsoft App Fabric (Velocity) to enhance the performance of the application.
                                </li>
                                <li>
                                    Involved in implementing various UI flows and fixing defects.
                                </li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section>
            <header class="designation">
                <fa-icon [icon]="['far', 'building']" style="color:#252c30;" size="1x"></fa-icon>
                Cybage Softwares - Sr. Software Engineer
                <span style="font-size: 12px;">(Jul 2007 – Jul 2010)</span>
            </header>
            <div>
                <ol>
                    <li class="projects">
                        <span>Altiris Inventory Solution (Symantec)</span>
                        <div>
                            <ul class="proj-desc">
                                <li>
                                    Implemented different UI using ASP.Net and extensively used unit tests to make sure code coverage is above 90%.
                                </li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
    </div>
   
    <div id="education">
        <h3 class="heading">Education</h3>
        <div>
            <div id="degree">
                <!--<div>Bachelor's Degree</div>-->
                <div>Dr. D.Y. Patil College of Engineering (University of Pune)</div>
                <div class="bluefont">Bachelor of Computer Engineering, June 2007</div>
            </div>
            <!--<div id="college">
                <div>Junior College</div>
                <div>J.E.S. College - Jalna</div>
                <div>Maharashtra State Board, April 2003</div>
            </div>
            <div id="degree">
                <div>School</div>
                <div>St. Mary's High School - Jalna</div>
                <div>Maharashtra State Board, April 2001</div>
            </div>-->
        </div>
    </div>
    <div id="honours">
            <h3 class="heading">Honours</h3>
            <div>
                <ul class="proj-desc">
                    <li>
                        Symanted WoW and Applause award of various levels for different contributions.
                    </li>
                    <li>
                        Achieved Barwala scholarship.
                    </li>
                </ul>
            </div>
        </div>
</div>