.tile{
    padding: 5px 10px 5px 10px;
    border: 1px dashed #9ea9ad;
    border-radius: 10px;
    margin: 5px;
}

.skillsets{
    width: 90%;
    display: flex;
    border: 1px solid #ada7a7;
    flex-flow: wrap;
    border-radius: 7px;
    padding: 5px;
}

.bluefont{
    color: #4fb6f5;
}